<html>
    <head>
        <link rel='stylesheet' href='/hbs.css' />
        <meta charset='utf-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <title>Mr. Schedule</title>
        <meta name='viewport' content='width=device-width, initial-scale=1' />
    </head>
    <body>
        <header>
            Schedule Website
        </header>

        <section class='content-area'>

            {{{body}}}

        </section>

    </body>
</html>